DEFAULT lumi
LABEL lumi
  menu label ^Lancer LumiDistro
  kernel /vmlinuz
  append initrd=/initrd.img boot=live quiet splash

LABEL lumi-nomodeset
  menu label Lancer LumiDistro (nomodeset)
  kernel /vmlinuz
  append initrd=/initrd.img boot=live quiet splash nomodeset

LABEL lumi-failsafe
  menu label Lancer LumiDistro (mode sans échec)
  kernel /vmlinuz
  append initrd=/initrd.img boot=live quiet splash failsafe

LABEL memtest
  menu label ^Test de mémoire
  kernel /memtest

LABEL hd
  menu label ^Booter depuis le disque dur
  localboot 0x80

MENU TITLE LumiDistro v1.0
TIMEOUT 300
PROMPT 0
